<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<table align='center'>
    <tr>
        <td><%=rs[0].title%></td>
    </tr>
    <tr>
        <td><%-rs[0].content%></td>
    </tr>
</table>
</body>
</html>